In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
def make_list(temp):
    temp_list = temp.split("|")
    list = []
    for tl in temp_list:
        list.append(tl.split(","))
    return list

In [3]:
str_al = 'CR111,Samsung,26|CR112,LG,74|CR111,Samsung,63|CR113,Sony,37|CR111,Samsung,27|CR114,Apple,73|CR112,LG,27|CR113,Sony,73|CR112,LG,64|CR114,Apple,36|CR113,Sony,76|CR114,Apple,24|CR121,Samsung,8|CR122,LG,92|CR121,Samsung,56|CR123,Sony,44|CR121,Samsung,50|CR124,Apple,50|CR122,LG,63|CR123,Sony,37|CR122,LG,66|CR124,Apple,34|CR123,Sony,72|CR124,Apple,28|CR131,Samsung,26|CR132,LG,74|CR131,Samsung,25|CR133,Sony,75|CR131,Samsung,63|CR134,Apple,37|CR132,LG,65|CR133,Sony,35|CR132,LG,61|CR134,Apple,39|CR133,Sony,68|CR134,Apple,32|CR211,Samsung,50|CR212,LG,50|CR211,Samsung,72|CR213,Sony,28|CR211,Samsung,27|CR214,Apple,73|CR212,LG,68|CR213,Sony,32|CR212,LG,32|CR214,Apple,68|CR213,Sony,50|CR214,Apple,50|CR221,Samsung,50|CR222,LG,50|CR221,Samsung,50|CR223,Sony,50|CR221,Samsung,24|CR224,Apple,76|CR222,LG,71|CR223,Sony,29|CR222,LG,46|CR224,Apple,54|CR223,Sony,61|CR224,Apple,39|CR231,Samsung,23|CR232,LG,77|CR231,Samsung,57|CR233,Sony,43|CR231,Samsung,25|CR234,Apple,75|CR232,LG,60|CR233,Sony,40|CR232,LG,24|CR234,Apple,76|CR233,Sony,50|CR234,Apple,50|CR311,Samsung,26|CR312,LG,74|CR311,Samsung,50|CR313,Sony,50|CR311,Samsung,28|CR314,Apple,72|CR312,LG,61|CR313,Sony,39|CR312,LG,27|CR314,Apple,73|CR313,Sony,74|CR314,Apple,26|CR241,Samsung,25|CR242,LG,75|CR241,Samsung,62|CR243,Sony,38|CR241,Samsung,50|CR244,Apple,50|CR242,LG,59|CR243,Sony,41|CR242,LG,26|CR244,Apple,74|CR243,Sony,66|CR244,Apple,34|CR321,Samsung,33|CR322,LG,67|CR321,Samsung,54|CR323,Sony,46|CR321,Samsung,30|CR324,Apple,70|CR322,LG,68|CR323,Sony,32|CR322,LG,14|CR324,Apple,86|CR323,Sony,79|CR324,Apple,21|CR331,Samsung,24|CR332,LG,76|CR331,Samsung,65|CR333,Sony,35|CR331,Samsung,25|CR334,Apple,75|CR332,LG,69|CR333,Sony,31|CR332,LG,77|CR334,Apple,23|CR333,Sony,73|CR334,Apple,27'

In [4]:
al_list = make_list(str_al)

In [5]:
df_al = pd.DataFrame(al_list)

In [7]:
df_al.columns = ['ecode', 'ename', 'eval']

In [8]:
df_al['cr'] = df_al['ecode'].str[-3]
df_al['fa'] = df_al['ecode'].str[-3:-1]
df_al['al'] = df_al['ecode'].str[-1]

In [12]:
df_al.head(12)

    ecode    ename eval cr  fa al
0   CR111  Samsung   26  1  11  1
1   CR112       LG   74  1  11  2
2   CR111  Samsung   63  1  11  1
3   CR113     Sony   37  1  11  3
4   CR111  Samsung   27  1  11  1
5   CR114    Apple   73  1  11  4
6   CR112       LG   27  1  11  2
7   CR113     Sony   73  1  11  3
8   CR112       LG   64  1  11  2
9   CR114    Apple   36  1  11  4
10  CR113     Sony   76  1  11  3
11  CR114    Apple   24  1  11  4

In [19]:
group_cnt = df_al.groupby(['fa']).size()

In [37]:
df_al[df_al['fa']=='11']

    ecode    ename eval cr  fa al
0   CR111  Samsung   26  1  11  1
1   CR112       LG   74  1  11  2
2   CR111  Samsung   63  1  11  1
3   CR113     Sony   37  1  11  3
4   CR111  Samsung   27  1  11  1
5   CR114    Apple   73  1  11  4
6   CR112       LG   27  1  11  2
7   CR113     Sony   73  1  11  3
8   CR112       LG   64  1  11  2
9   CR114    Apple   36  1  11  4
10  CR113     Sony   76  1  11  3
11  CR114    Apple   24  1  11  4

In [21]:
group_cnt

fa
11    12
12    12
13    12
21    12
22    12
23    12
24    12
31    12
32    12
33    12
dtype: int64