In [1]:
import pandas as pd
import numpy as np

In [34]:
eval_cr = "CR10,Color,50|CR20,Memory,50"

In [35]:
def make_list(temp):
    temp_list = temp.split("|")
    rs_list = []
    for tl in temp_list:
        rs_list.append(tl.split(","))
    return rs_list

In [37]:
eval_cr = pd.DataFrame(make_list(eval_cr))

In [38]:
eval_cr

      0       1   2
0  CR10   Color  50
1  CR20  Memory  50

In [39]:
eval_cr.drop(0, inplace=True, axis=1)

In [41]:
eval_cr

        1   2
0   Color  50
1  Memory  50

In [42]:
eval_cr.columns = ['Criteria', 'Value']

In [43]:
eval_cr

  Criteria Value
0    Color    50
1   Memory    50

In [44]:
jj = eval_cr.to_json()

In [33]:
pd.read_json(jj).to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Criteria</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Color</td>\n      <td>50</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Memory</td>\n      <td>50</td>\n    </tr>\n  </tbody>\n</table>'