In [17]:
import pandas as pd
import numpy as np
import json

In [18]:
def make_list(temp):
    temp_list = temp.split("|")
    list = []
    for tl in temp_list:
        list.append(tl.split(","))
    return list

In [39]:
str_cr = 'CR10,Color,24|CR20,Memory,76|CR10,Color,72|CR30,Delivery,28|CR20,Memory,37|CR30,Delivery,63'
str_fa = 'CR11,Pink,27|CR12,Blue,73|CR11,Pink,71|CR13,Yellow,29|CR12,Blue,30|CR13,Yellow,70|CR21,16GB,32|CR22,32GB,68|CR21,16GB,31|CR23,64GB,69|CR21,16GB,62|CR24,128GB,38|CR22,32GB,56|CR23,64GB,44|CR22,32GB,50|CR24,128GB,50|CR23,64GB,57|CR24,128GB,43|CR31,USPS,27|CR32,UPS,73|CR31,USPS,67|CR33,FedEx,33|CR32,UPS,30|CR33,FedEx,70'

In [40]:
cr_list = make_list(str_cr)
fa_list = make_list(str_fa)

In [41]:
df_cr = pd.DataFrame(cr_list)
df_fa = pd.DataFrame(fa_list)

In [42]:
df_cr.columns = ['ecode', 'ename', 'eval']
df_fa.columns = ['ecode', 'ename', 'eval']
df_cr['cr'] = df_cr['ecode'].str[2]

In [43]:
df_cr.drop(['ecode','eval'], inplace=True, axis=1)
df_cr= df_cr.drop_duplicates(subset=['ename', 'cr'])

In [44]:
df_cr

      ename cr
0     Color  1
1    Memory  2
3  Delivery  3

In [45]:
df_fa.head()

  ecode   ename eval
0  CR11    Pink   27
1  CR12    Blue   73
2  CR11    Pink   71
3  CR13  Yellow   29
4  CR12    Blue   30

In [46]:
df_fa['cr'] = df_fa['ecode'].str[-2]
df_fa['fa'] = df_fa['ecode'].str[-1]
df_fa['eval'] = df_fa['eval'].astype(int)

In [47]:
df_fa.head()

  ecode   ename  eval cr fa
0  CR11    Pink    27  1  1
1  CR12    Blue    73  1  2
2  CR11    Pink    71  1  1
3  CR13  Yellow    29  1  3
4  CR12    Blue    30  1  2

In [48]:
df_fa = pd.merge(df_fa, df_cr, how="inner", left_on="cr", right_on="cr")

In [49]:
df_fa.head()

  ecode ename_x  eval cr fa ename_y
0  CR11    Pink    27  1  1   Color
1  CR12    Blue    73  1  2   Color
2  CR11    Pink    71  1  1   Color
3  CR13  Yellow    29  1  3   Color
4  CR12    Blue    30  1  2   Color

In [50]:
df_fa = df_fa[['ename_y', 'ename_x', 'eval']]

In [51]:
df_fa.head()

  ename_y ename_x  eval
0   Color    Pink    27
1   Color    Blue    73
2   Color    Pink    71
3   Color  Yellow    29
4   Color    Blue    30

In [52]:
df_fa.rename(columns={"ename_y":"Criteria", "ename_x":"Factors", "eval":"Value"}, inplace = True)

In [53]:
df_fa.head()

  Criteria Factors  eval
0    Color    Pink    27
1    Color    Blue    73
2    Color    Pink    71
3    Color  Yellow    29
4    Color    Blue    30

In [55]:
df_fa.to_json()

'{"Criteria":{"0":"Color","1":"Color","2":"Color","3":"Color","4":"Color","5":"Color","6":"Memory","7":"Memory","8":"Memory","9":"Memory","10":"Memory","11":"Memory","12":"Memory","13":"Memory","14":"Memory","15":"Memory","16":"Memory","17":"Memory","18":"Delivery","19":"Delivery","20":"Delivery","21":"Delivery","22":"Delivery","23":"Delivery"},"Factors":{"0":"Pink","1":"Blue","2":"Pink","3":"Yellow","4":"Blue","5":"Yellow","6":"16GB","7":"32GB","8":"16GB","9":"64GB","10":"16GB","11":"128GB","12":"32GB","13":"64GB","14":"32GB","15":"128GB","16":"64GB","17":"128GB","18":"USPS","19":"UPS","20":"USPS","21":"FedEx","22":"UPS","23":"FedEx"},"eval":{"0":27,"1":73,"2":71,"3":29,"4":30,"5":70,"6":32,"7":68,"8":31,"9":69,"10":62,"11":38,"12":56,"13":44,"14":50,"15":50,"16":57,"17":43,"18":27,"19":73,"20":67,"21":33,"22":30,"23":70}}'

In [15]:
pdf_al

fa        11   12   13   21   22   23   24   31   32   33
ename
Apple    133  112  108  191  169  201  158  171  177  125
LG       165  221  200  150  167  161  160  162  149  222
Samsung  116  114  114  149  124  105  137  104  117  114
Sony     186  153  178  110  140  133  145  163  157  139

In [21]:
sum_al = pdf_al.sum()[0]

In [22]:
for col in pdf_al:
    pdf_al[col] = round(pdf_al[col]/sum_al, 3)

In [23]:
pdf_al

fa          11     12     13     21     22     23     24     31     32     33
ename
Apple    0.222  0.187  0.180  0.318  0.282  0.335  0.263  0.285  0.295  0.208
LG       0.275  0.368  0.333  0.250  0.278  0.268  0.267  0.270  0.248  0.370
Samsung  0.193  0.190  0.190  0.248  0.207  0.175  0.228  0.173  0.195  0.190
Sony     0.310  0.255  0.297  0.183  0.233  0.222  0.242  0.272  0.262  0.232

In [24]:
fa = 'Pink,Blue,Yellow|16GB,32GB,64GB,128GB|USPS,UPS,FedEx'

In [25]:
fa_list = []
for i in fa.split('|'):
    for j in i.split(','):
        fa_list.append(j)
fa_list

['Pink',
 'Blue',
 'Yellow',
 '16GB',
 '32GB',
 '64GB',
 '128GB',
 'USPS',
 'UPS',
 'FedEx']

In [26]:
pdf_al.columns = fa_list

In [27]:
pdf_al

          Pink   Blue  Yellow   16GB   32GB   64GB  128GB   USPS    UPS  FedEx
ename
Apple    0.222  0.187   0.180  0.318  0.282  0.335  0.263  0.285  0.295  0.208
LG       0.275  0.368   0.333  0.250  0.278  0.268  0.267  0.270  0.248  0.370
Samsung  0.193  0.190   0.190  0.248  0.207  0.175  0.228  0.173  0.195  0.190
Sony     0.310  0.255   0.297  0.183  0.233  0.222  0.242  0.272  0.262  0.232

In [28]:
rs_json = pdf_al.to_json()
rs_json

'{"Pink":{"Apple":0.222,"LG":0.275,"Samsung":0.193,"Sony":0.31},"Blue":{"Apple":0.187,"LG":0.368,"Samsung":0.19,"Sony":0.255},"Yellow":{"Apple":0.18,"LG":0.333,"Samsung":0.19,"Sony":0.297},"16GB":{"Apple":0.318,"LG":0.25,"Samsung":0.248,"Sony":0.183},"32GB":{"Apple":0.282,"LG":0.278,"Samsung":0.207,"Sony":0.233},"64GB":{"Apple":0.335,"LG":0.268,"Samsung":0.175,"Sony":0.222},"128GB":{"Apple":0.263,"LG":0.267,"Samsung":0.228,"Sony":0.242},"USPS":{"Apple":0.285,"LG":0.27,"Samsung":0.173,"Sony":0.272},"UPS":{"Apple":0.295,"LG":0.248,"Samsung":0.195,"Sony":0.262},"FedEx":{"Apple":0.208,"LG":0.37,"Samsung":0.19,"Sony":0.232}}'

In [29]:
df2 = pd.read_json(rs_json)
df2

         128GB   16GB   32GB   64GB   Blue  FedEx   Pink    UPS   USPS  Yellow
Apple    0.263  0.318  0.282  0.335  0.187  0.208  0.222  0.295  0.285   0.180
LG       0.267  0.250  0.278  0.268  0.368  0.370  0.275  0.248  0.270   0.333
Samsung  0.228  0.248  0.207  0.175  0.190  0.190  0.193  0.195  0.173   0.190
Sony     0.242  0.183  0.233  0.222  0.255  0.232  0.310  0.262  0.272   0.297

In [30]:
df2.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>128GB</th>\n      <th>16GB</th>\n      <th>32GB</th>\n      <th>64GB</th>\n      <th>Blue</th>\n      <th>FedEx</th>\n      <th>Pink</th>\n      <th>UPS</th>\n      <th>USPS</th>\n      <th>Yellow</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Apple</th>\n      <td>0.263</td>\n      <td>0.318</td>\n      <td>0.282</td>\n      <td>0.335</td>\n      <td>0.187</td>\n      <td>0.208</td>\n      <td>0.222</td>\n      <td>0.295</td>\n      <td>0.285</td>\n      <td>0.180</td>\n    </tr>\n    <tr>\n      <th>LG</th>\n      <td>0.267</td>\n      <td>0.250</td>\n      <td>0.278</td>\n      <td>0.268</td>\n      <td>0.368</td>\n      <td>0.370</td>\n      <td>0.275</td>\n      <td>0.248</td>\n      <td>0.270</td>\n      <td>0.333</td>\n    </tr>\n    <tr>\n      <th>Samsung</th>\n      <td>0.228</td>\n      <td>0.248</td>\n      <td>0.207</td>\n      <td>0.175</td>\n      <td>0.190</td>\n      <td>0.190</td>\n      <td>0.193</td>\n      <td>0.195</td>\n      <td>0.173</td>\n      <td>0.190</td>\n    </tr>\n    <tr>\n      <th>Sony</th>\n      <td>0.242</td>\n      <td>0.183</td>\n      <td>0.233</td>\n      <td>0.222</td>\n      <td>0.255</td>\n      <td>0.232</td>\n      <td>0.310</td>\n      <td>0.262</td>\n      <td>0.272</td>\n      <td>0.297</td>\n    </tr>\n  </tbody>\n</table>'