In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
def make_list(temp):
    temp_list = temp.split("|")
    list = []
    for tl in temp_list:
        list.append(tl.split(","))
    return list

In [25]:
str_cr = 'CR10,Color,24|CR20,Memory,76|CR10,Color,72|CR30,Delivery,28|CR20,Memory,37|CR30,Delivery,63'
str_fa = 'CR11,Pink,27|CR12,Blue,73|CR11,Pink,71|CR13,Yellow,29|CR12,Blue,30|CR13,Yellow,70|CR21,16GB,32|CR22,32GB,68|CR21,16GB,31|CR23,64GB,69|CR21,16GB,62|CR24,128GB,38|CR22,32GB,56|CR23,64GB,44|CR22,32GB,50|CR24,128GB,50|CR23,64GB,57|CR24,128GB,43|CR31,USPS,27|CR32,UPS,73|CR31,USPS,67|CR33,FedEx,33|CR32,UPS,30|CR33,FedEx,70'
str_al = 'CR111,Samsung,32|CR112,LG,68|CR111,Samsung,58|CR113,Sony,42|CR111,Samsung,21|CR114,Apple,79|CR112,LG,62|CR113,Sony,38|CR112,LG,57|CR114,Apple,43|CR113,Sony,69|CR114,Apple,31|CR121,Samsung,25|CR122,LG,75|CR121,Samsung,36|CR123,Sony,64|CR121,Samsung,59|CR124,Apple,41|CR122,LG,58|CR123,Sony,42|CR122,LG,48|CR124,Apple,52|CR123,Sony,60|CR124,Apple,40|CR131,Samsung,36|CR132,LG,64|CR131,Samsung,56|CR133,Sony,44|CR131,Samsung,57|CR134,Apple,43|CR132,LG,56|CR133,Sony,44|CR132,LG,32|CR134,Apple,68|CR133,Sony,42|CR134,Apple,58|CR211,Samsung,31|CR212,LG,69|CR211,Samsung,67|CR213,Sony,33|CR211,Samsung,64|CR214,Apple,36|CR212,LG,58|CR213,Sony,42|CR212,LG,56|CR214,Apple,44|CR213,Sony,64|CR214,Apple,36|CR221,Samsung,25|CR222,LG,75|CR221,Samsung,60|CR223,Sony,40|CR221,Samsung,22|CR224,Apple,78|CR222,LG,55|CR223,Sony,45|CR222,LG,33|CR224,Apple,67|CR223,Sony,60|CR224,Apple,40|CR311,Samsung,36|CR312,LG,64|CR311,Samsung,50|CR313,Sony,50|CR311,Samsung,32|CR314,Apple,68|CR312,LG,50|CR313,Sony,50|CR312,LG,56|CR314,Apple,44|CR313,Sony,37|CR314,Apple,63|CR321,Samsung,23|CR322,LG,77|CR321,Samsung,57|CR323,Sony,43|CR321,Samsung,58|CR324,Apple,42|CR322,LG,50|CR323,Sony,50|CR322,LG,32|CR324,Apple,68|CR323,Sony,62|CR324,Apple,38|CR231,Samsung,27|CR232,LG,73|CR231,Samsung,64|CR233,Sony,36|CR231,Samsung,31|CR234,Apple,69|CR232,LG,34|CR233,Sony,66|CR232,LG,60|CR234,Apple,40|CR233,Sony,70|CR234,Apple,30|CR241,Samsung,30|CR242,LG,70|CR241,Samsung,66|CR243,Sony,34|CR241,Samsung,27|CR244,Apple,73|CR242,LG,75|CR243,Sony,25|CR242,LG,16|CR244,Apple,84|CR243,Sony,75|CR244,Apple,25|CR331,Samsung,23|CR332,LG,77|CR331,Samsung,50|CR333,Sony,50|CR331,Samsung,36|CR334,Apple,64|CR332,LG,71|CR333,Sony,29|CR332,LG,36|CR334,Apple,64|CR333,Sony,53|CR334,Apple,47'

In [26]:
cr_list = make_list(str_cr)
fa_list = make_list(str_fa)
al_list = make_list(str_al)

In [27]:
df_cr = pd.DataFrame(cr_list)
df_fa = pd.DataFrame(fa_list)
df_al = pd.DataFrame(al_list)

In [28]:
df_cr.columns = ['ecode', 'ename', 'eval']
df_fa.columns = ['ecode', 'ename', 'eval']
df_al.columns = ['ecode', 'ename', 'eval']

In [33]:
df_cr['cr'] = df_cr['ecode'].str[2]
df_fa['cr'] = df_fa['ecode'].str[2]
df_fa['fa'] = df_fa['ecode'].str[2:4]
df_al['cr'] = df_al['ecode'].str[2]
df_al['fa'] = df_al['ecode'].str[2:4]
df_al['al'] = df_al['ecode'].str[4]

In [34]:
df_cr.drop(['ecode','eval'], inplace=True, axis=1)
df_cr= df_cr.drop_duplicates(subset=['ename', 'cr'])

In [35]:
df_cr

      ename cr
0     Color  1
1    Memory  2
3  Delivery  3

In [9]:
df_fa.drop(['ecode','eval'], inplace=True, axis=1)

In [39]:
df_fa = df_fa[['fa', 'ename']]

In [43]:
df_fa = df_fa.drop_duplicates(subset=['fa', 'ename'])

In [44]:
df_fa.head()

   fa   ename
0  11    Pink
1  12    Blue
3  13  Yellow
6  21    16GB
7  22    32GB

In [45]:
df_al.head()

   ecode    ename eval cr  fa al
0  CR111  Samsung   32  1  11  1
1  CR112       LG   68  1  11  2
2  CR111  Samsung   58  1  11  1
3  CR113     Sony   42  1  11  3
4  CR111  Samsung   21  1  11  1

In [46]:
df_al = pd.merge(df_al, df_cr, how="inner", left_on="cr", right_on="cr")

In [47]:
df_al.head()

   ecode  ename_x eval cr  fa al ename_y
0  CR111  Samsung   32  1  11  1   Color
1  CR112       LG   68  1  11  2   Color
2  CR111  Samsung   58  1  11  1   Color
3  CR113     Sony   42  1  11  3   Color
4  CR111  Samsung   21  1  11  1   Color

In [48]:
df_al = pd.merge(df_al, df_fa, how="inner", left_on="fa", right_on="fa")

In [49]:
df_al.head()

   ecode  ename_x eval cr  fa al ename_y ename
0  CR111  Samsung   32  1  11  1   Color  Pink
1  CR112       LG   68  1  11  2   Color  Pink
2  CR111  Samsung   58  1  11  1   Color  Pink
3  CR113     Sony   42  1  11  3   Color  Pink
4  CR111  Samsung   21  1  11  1   Color  Pink

In [50]:
df_al = df_al[['ename_y', 'ename', 'ename_x', 'eval']]

In [51]:
df_al.head()

  ename_y ename  ename_x eval
0   Color  Pink  Samsung   32
1   Color  Pink       LG   68
2   Color  Pink  Samsung   58
3   Color  Pink     Sony   42
4   Color  Pink  Samsung   21

In [53]:
df_al.rename(columns={"ename_y":"Criteria", "ename":"Factors", "ename_x":"Alternatives", "eval":"Value"}, inplace = True)

In [54]:
df_al.head()

  Criteria Factors Alternatives Value
0    Color    Pink      Samsung    32
1    Color    Pink           LG    68
2    Color    Pink      Samsung    58
3    Color    Pink         Sony    42
4    Color    Pink      Samsung    21

In [55]:
df_fa.to_json()

'{"Criteria":{"0":"Color","1":"Color","2":"Color","3":"Color","4":"Color","5":"Color","6":"Memory","7":"Memory","8":"Memory","9":"Memory","10":"Memory","11":"Memory","12":"Memory","13":"Memory","14":"Memory","15":"Memory","16":"Memory","17":"Memory","18":"Delivery","19":"Delivery","20":"Delivery","21":"Delivery","22":"Delivery","23":"Delivery"},"Factors":{"0":"Pink","1":"Blue","2":"Pink","3":"Yellow","4":"Blue","5":"Yellow","6":"16GB","7":"32GB","8":"16GB","9":"64GB","10":"16GB","11":"128GB","12":"32GB","13":"64GB","14":"32GB","15":"128GB","16":"64GB","17":"128GB","18":"USPS","19":"UPS","20":"USPS","21":"FedEx","22":"UPS","23":"FedEx"},"eval":{"0":27,"1":73,"2":71,"3":29,"4":30,"5":70,"6":32,"7":68,"8":31,"9":69,"10":62,"11":38,"12":56,"13":44,"14":50,"15":50,"16":57,"17":43,"18":27,"19":73,"20":67,"21":33,"22":30,"23":70}}'

In [15]:
pdf_al

fa        11   12   13   21   22   23   24   31   32   33
ename
Apple    133  112  108  191  169  201  158  171  177  125
LG       165  221  200  150  167  161  160  162  149  222
Samsung  116  114  114  149  124  105  137  104  117  114
Sony     186  153  178  110  140  133  145  163  157  139

In [21]:
sum_al = pdf_al.sum()[0]

In [22]:
for col in pdf_al:
    pdf_al[col] = round(pdf_al[col]/sum_al, 3)

In [23]:
pdf_al

fa          11     12     13     21     22     23     24     31     32     33
ename
Apple    0.222  0.187  0.180  0.318  0.282  0.335  0.263  0.285  0.295  0.208
LG       0.275  0.368  0.333  0.250  0.278  0.268  0.267  0.270  0.248  0.370
Samsung  0.193  0.190  0.190  0.248  0.207  0.175  0.228  0.173  0.195  0.190
Sony     0.310  0.255  0.297  0.183  0.233  0.222  0.242  0.272  0.262  0.232

In [24]:
fa = 'Pink,Blue,Yellow|16GB,32GB,64GB,128GB|USPS,UPS,FedEx'

In [25]:
fa_list = []
for i in fa.split('|'):
    for j in i.split(','):
        fa_list.append(j)
fa_list

['Pink',
 'Blue',
 'Yellow',
 '16GB',
 '32GB',
 '64GB',
 '128GB',
 'USPS',
 'UPS',
 'FedEx']

In [26]:
pdf_al.columns = fa_list

In [27]:
pdf_al

          Pink   Blue  Yellow   16GB   32GB   64GB  128GB   USPS    UPS  FedEx
ename
Apple    0.222  0.187   0.180  0.318  0.282  0.335  0.263  0.285  0.295  0.208
LG       0.275  0.368   0.333  0.250  0.278  0.268  0.267  0.270  0.248  0.370
Samsung  0.193  0.190   0.190  0.248  0.207  0.175  0.228  0.173  0.195  0.190
Sony     0.310  0.255   0.297  0.183  0.233  0.222  0.242  0.272  0.262  0.232

In [28]:
rs_json = pdf_al.to_json()
rs_json

'{"Pink":{"Apple":0.222,"LG":0.275,"Samsung":0.193,"Sony":0.31},"Blue":{"Apple":0.187,"LG":0.368,"Samsung":0.19,"Sony":0.255},"Yellow":{"Apple":0.18,"LG":0.333,"Samsung":0.19,"Sony":0.297},"16GB":{"Apple":0.318,"LG":0.25,"Samsung":0.248,"Sony":0.183},"32GB":{"Apple":0.282,"LG":0.278,"Samsung":0.207,"Sony":0.233},"64GB":{"Apple":0.335,"LG":0.268,"Samsung":0.175,"Sony":0.222},"128GB":{"Apple":0.263,"LG":0.267,"Samsung":0.228,"Sony":0.242},"USPS":{"Apple":0.285,"LG":0.27,"Samsung":0.173,"Sony":0.272},"UPS":{"Apple":0.295,"LG":0.248,"Samsung":0.195,"Sony":0.262},"FedEx":{"Apple":0.208,"LG":0.37,"Samsung":0.19,"Sony":0.232}}'

In [29]:
df2 = pd.read_json(rs_json)
df2

         128GB   16GB   32GB   64GB   Blue  FedEx   Pink    UPS   USPS  Yellow
Apple    0.263  0.318  0.282  0.335  0.187  0.208  0.222  0.295  0.285   0.180
LG       0.267  0.250  0.278  0.268  0.368  0.370  0.275  0.248  0.270   0.333
Samsung  0.228  0.248  0.207  0.175  0.190  0.190  0.193  0.195  0.173   0.190
Sony     0.242  0.183  0.233  0.222  0.255  0.232  0.310  0.262  0.272   0.297

In [67]:
tt = '{"Criteria":{"0":"Color","1":"Color","2":"Color","3":"Color","4":"Color","5":"Color","6":"Memory","7":"Memory","8":"Memory","9":"Memory"},"Factors":{"0":"Pink","1":"Pink","2":"Blue","3":"Blue","4":"Yellow","5":"Yellow","6":"32GB","7":"32GB","8":"64GB","9":"64GB"},"Alternatives":{"0":"Samsung","1":"Apple","2":"Samsung","3":"Apple","4":"Samsung","5":"Apple","6":"Samsung","7":"Apple","8":"Samsung","9":"Apple"},"Value":{"0":"27","1":"73","2":"61","3":"39","4":"62","5":"38","6":"34","7":"66","8":"32","9":"68"}}'

In [68]:
eval_al = pd.read_json(tt)
eval_al.index = np.arange(1, len(eval_al) + 1)

In [69]:
eval_al[['Criteria', 'Factors', 'Alternatives', 'Value']].to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Criteria</th>\n      <th>Factors</th>\n      <th>Alternatives</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Color</td>\n      <td>Pink</td>\n      <td>Samsung</td>\n      <td>27</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Color</td>\n      <td>Pink</td>\n      <td>Apple</td>\n      <td>73</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Color</td>\n      <td>Blue</td>\n      <td>Samsung</td>\n      <td>61</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Color</td>\n      <td>Blue</td>\n      <td>Apple</td>\n      <td>39</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Color</td>\n      <td>Yellow</td>\n      <td>Samsung</td>\n      <td>62</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Color</td>\n      <td>Yellow</td>\n      <td>Apple</td>\n      <td>38</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>Memory</td>\n      <td>32GB</td>\n      <td>Samsung</td>\n      <td>34</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Memory</td>\n      <td>32GB</td>\n      <td>Apple</td>\n      <td>66</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>Memory</td>\n      <td>64GB</td>\n      <td>Samsung</td>\n      <td>32</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>Memory</td>\n      <td>64GB</td>\n      <td>Apple</td>\n      <td>68</td>\n    </tr>\n  </tbody>\n</table>'