In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
def tround(num, place):
    num += pow(0.1, place+4)
    return round(num, place)

In [3]:
def step1_matrix_a(resp_data):
    temp_list = resp_data.split("|")
    n_fact = {20:5, 12:4, 6:3}
    matrix_size = n_fact[len(temp_list)]
    
    matrix = [[0 for col in range(matrix_size)] for row in range(matrix_size)]
    for idx, tl in enumerate(temp_list):
        pair_data = tl.split(",")

        # first item
        if idx % 2 == 0:
            col_1st = int(pair_data[0][-1:]) - 1
            pair_1st_val = int(pair_data[2])
            
        # second item
        else:
            col_2nd = int(pair_data[0][-1:]) - 1
            row_2nd = col_1st
            row_1st = col_2nd
            pair_2nd_val = pair_data[2]
            matrix[row_1st][col_1st] = int(pair_1st_val)
            matrix[row_2nd][col_2nd] = int(pair_2nd_val)
        
    return matrix

In [4]:
def step2_matrix_b(matrix_a, matrix_size):
    matrix = [[0 for col in range(matrix_size)] for row in range(matrix_size)]
    
    for i in range(matrix_size):
        for j in range(matrix_size):
            if i == j:
                matrix[i][j] = 1
            else:
                matrix[i][j] = tround(matrix_a[i][j]/matrix_a[j][i], 2)
    return matrix

In [5]:
def step3_matrix_c(matrix_b, matrix_size):
    matrix = [[0 for col in range(matrix_size-1)] for row in range(matrix_size)]
    
    for i in range(matrix_size):
        for j in range(matrix_size-1):
            matrix[i][j] = tround(matrix_b[i][j]/matrix_b[i][j+1], 2)
    return matrix

In [6]:
def step4_mean_list(matrix_c, matrix_size):
    matrix_mean = [0 for i in range(matrix_size - 1)]
    
    for i in range(matrix_size - 1):
        temp_sum = 0.0
        for j in range(matrix_size):
            temp_sum += matrix_c[j][i]
        matrix_mean[i] = tround(temp_sum / matrix_size, 2)
    
    return matrix_mean

In [7]:
def step5_normalize(matrix_mean, matrix_size):
    norm_val = [0 for i in range(matrix_size)]
    norm_val[3] = 1
    norm_val[2] = tround(matrix_mean[2], 2)
    norm_val[1] = tround(norm_val[2] * matrix_mean[1], 2)
    norm_val[0] = tround(norm_val[1] * matrix_mean[0], 2)
    
    sum_val = 0.0
    for val in norm_val:
        sum_val += val
        
    for idx, val in enumerate(norm_val):
        norm_val[idx] = tround(val / sum_val, 2)
    
    return norm_val

In [8]:
str_al = 'CR111,A,40|CR112,B,60|CR114,D,57|CR113,C,43|CR113,C,75|CR111,A,25|CR112,B,38|CR114,D,62|CR111,A,20|CR114,D,80|CR112,B,50|CR113,C,50'
n_fact = {20:5, 12:4, 6:3, 2:2}
matrix_size = n_fact[len(str_al.split("|"))]
matrix_size

4

In [9]:
matrix_a = step1_matrix_a(str_al)
matrix_a

[[0, 60, 75, 80], [40, 0, 50, 62], [25, 50, 0, 57], [20, 38, 43, 0]]

In [43]:
df2 = pd.DataFrame(matrix_a)

In [44]:
df2

    0   1   2   3
0   0  60  75  80
1  40   0  50  62
2  25  50   0  57
3  20  38  43   0

In [10]:
matrix_b = step2_matrix_b(matrix_a, matrix_size)
matrix_b

[[1, 1.5, 3.0, 4.0],
 [0.67, 1, 1.0, 1.63],
 [0.33, 1.0, 1, 1.33],
 [0.25, 0.61, 0.75, 1]]

In [11]:
# matrix_size == 4
df = pd.DataFrame(matrix_b)
df
#df['0']
#df_list = df['0','1','2','3'].tolist()
#df_list

      0     1     2     3
0  1.00  1.50  3.00  4.00
1  0.67  1.00  1.00  1.63
2  0.33  1.00  1.00  1.33
3  0.25  0.61  0.75  1.00

In [12]:
matrix_c = step3_matrix_c(matrix_b, matrix_size)
matrix_c

[[0.67, 0.5, 0.75], [0.67, 1.0, 0.61], [0.33, 1.0, 0.75], [0.41, 0.81, 0.75]]

In [13]:
matrix_mean = step4_mean_list(matrix_c, matrix_size)
matrix_mean

[0.52, 0.83, 0.72]

In [14]:
norm_val = step5_normalize(matrix_mean, matrix_size)
norm_val

[0.12, 0.23, 0.27, 0.38]

In [15]:
df

      0     1     2     3
0  1.00  1.50  3.00  4.00
1  0.67  1.00  1.00  1.63
2  0.33  1.00  1.00  1.33
3  0.25  0.61  0.75  1.00

In [32]:
normalized_list = []
for i in range(4):
    for j in range(4):
        if i==j: continue
        for k in range(4):
            if i==k: continue
            if j==k: continue
            for l in range(4):
                if i==l: continue
                if j==l: continue
                if k==l: continue
                matrix_b = df[[i, j, k, l]].values.tolist()
                matrix_c = step3_matrix_c(matrix_b, matrix_size)
                matrix_mean = step4_mean_list(matrix_c, matrix_size)
                norm_val = step5_normalize(matrix_mean, matrix_size)
                normalized_list.append(norm_val)
                #print(str(i)+"|"+str(j)+"|"+str(k)+"|"+str(l), end=">>")
                #print(norm_val)
                #temp_df = pd.DataFrame()
                #temp_df.from_items(norm_val)
                #print(temp_df)
                #newDF.append(temp_df)

In [33]:
normalized_list

[[0.12, 0.23, 0.27, 0.38],
 [0.12, 0.23, 0.38, 0.27],
 [0.12, 0.29, 0.22, 0.37],
 [0.12, 0.28, 0.39, 0.21],
 [0.12, 0.4, 0.22, 0.26],
 [0.11, 0.39, 0.28, 0.21],
 [0.24, 0.11, 0.27, 0.38],
 [0.24, 0.11, 0.38, 0.27],
 [0.24, 0.28, 0.11, 0.37],
 [0.23, 0.28, 0.39, 0.11],
 [0.23, 0.4, 0.11, 0.26],
 [0.23, 0.39, 0.28, 0.1],
 [0.3, 0.11, 0.22, 0.37],
 [0.29, 0.11, 0.38, 0.21],
 [0.3, 0.23, 0.11, 0.37],
 [0.29, 0.22, 0.38, 0.1],
 [0.28, 0.4, 0.11, 0.21],
 [0.28, 0.4, 0.22, 0.1],
 [0.41, 0.11, 0.22, 0.26],
 [0.41, 0.11, 0.27, 0.21],
 [0.41, 0.23, 0.11, 0.25],
 [0.41, 0.22, 0.27, 0.1],
 [0.4, 0.28, 0.11, 0.21],
 [0.4, 0.28, 0.22, 0.1]]

In [34]:
normalized_df = pd.DataFrame(normalized_list)

In [35]:
normalized_df

       0     1     2     3
0   0.12  0.23  0.27  0.38
1   0.12  0.23  0.38  0.27
2   0.12  0.29  0.22  0.37
3   0.12  0.28  0.39  0.21
4   0.12  0.40  0.22  0.26
5   0.11  0.39  0.28  0.21
6   0.24  0.11  0.27  0.38
7   0.24  0.11  0.38  0.27
8   0.24  0.28  0.11  0.37
9   0.23  0.28  0.39  0.11
10  0.23  0.40  0.11  0.26
11  0.23  0.39  0.28  0.10
12  0.30  0.11  0.22  0.37
13  0.29  0.11  0.38  0.21
14  0.30  0.23  0.11  0.37
15  0.29  0.22  0.38  0.10
16  0.28  0.40  0.11  0.21
17  0.28  0.40  0.22  0.10
18  0.41  0.11  0.22  0.26
19  0.41  0.11  0.27  0.21
20  0.41  0.23  0.11  0.25
21  0.41  0.22  0.27  0.10
22  0.40  0.28  0.11  0.21
23  0.40  0.28  0.22  0.10

In [40]:
normalized_df.mean()

0    0.262500
1    0.253750
2    0.246667
3    0.236667
dtype: float64

In [41]:
normalized_df.var()

0    0.011272
1    0.011129
2    0.010128
3    0.009997
dtype: float64

In [42]:
normalized_df.std()

0    0.106168
1    0.105493
2    0.100636
3    0.099986
dtype: float64