In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
def make_list(temp):
    temp_list = temp.split("|")
    list = []
    for tl in temp_list:
        list.append(tl.split(","))
    return list

In [3]:
str_cr = "Color,Memory,Delivery"
eval_cr = 'CR10,Color,24|CR20,Memory,76|CR10,Color,72|CR30,Delivery,28|CR20,Memory,37|CR30,Delivery,63'

In [4]:
hdm_str_fa = str_cr

In [5]:
cr_list = make_list(eval_cr)

In [8]:
pd.DataFrame(cr_list).to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n      <th>2</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>CR10</td>\n      <td>Color</td>\n      <td>24</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>CR20</td>\n      <td>Memory</td>\n      <td>76</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>CR10</td>\n      <td>Color</td>\n      <td>72</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>CR30</td>\n      <td>Delivery</td>\n      <td>28</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>CR20</td>\n      <td>Memory</td>\n      <td>37</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>CR30</td>\n      <td>Delivery</td>\n      <td>63</td>\n    </tr>\n  </tbody>\n</table>'

In [7]:
df_cr

      0         1   2
0  CR10     Color  24
1  CR20    Memory  76
2  CR10     Color  72
3  CR30  Delivery  28
4  CR20    Memory  37
5  CR30  Delivery  63

In [52]:
df_cr.columns = ['ecode', 'ename', 'eval']

In [53]:
df_cr['eval'] = df_cr['eval'].astype(int)

In [54]:
df_cr = df_cr.groupby(['ecode', 'ename'], as_index=False).sum()

In [62]:
df_cr.drop(['ecode'],inplace=True,axis=1)

In [63]:
df_cr

      ename  eval
0     Color    96
1    Memory   113
2  Delivery    91

In [69]:
df_cr.index.name = 'Level-1'

In [71]:
df_cr = df_cr.set_index('ename')

In [72]:
df_cr

           eval
ename
Color     0.320
Memory    0.377
Delivery  0.303

In [64]:
sum_cr = df_cr['eval'].sum()

In [65]:
df_cr['eval'] = round(df_cr['eval']/sum_cr, 3)

In [66]:
df_cr

      ename   eval
0     Color  0.320
1    Memory  0.377
2  Delivery  0.303

In [73]:
jj = df_cr.to_json()

In [74]:
pd.read_json(jj)

           eval
Color     0.320
Delivery  0.303
Memory    0.377

In [44]:
jj

'{"ecode":{"0":"CR10","1":"CR20","2":"CR30"},"ename":{"0":"Color","1":"Memory","2":"Delivery"},"eval":{"0":0.32,"1":0.377,"2":0.303}}'