In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
def make_list(temp):
    temp_list = temp.split("|")
    list = []
    for tl in temp_list:
        list.append(tl.split(","))
    return list

In [58]:
str_fa = 'CR21,16GB,24|CR22,32GB,76|CR21,16GB,22|CR23,64GB,78|CR21,16GB,63|CR24,128GB,37|CR22,32GB,75|CR23,64GB,25|CR22,32GB,80|CR24,128GB,20|CR23,64GB,72|CR24,128GB,28|CR11,Pink,67|CR12,Blue,33|CR11,Pink,77|CR13,Yellow,23|CR12,Blue,64|CR13,Yellow,36|CR31,USPS,15|CR32,UPS,85|CR31,USPS,72|CR33,FedEx,28|CR32,UPS,26|CR33,FedEx,74'

In [59]:
fa_list = make_list(str_fa)

In [60]:
df_fa = pd.DataFrame(fa_list)

In [61]:
df_fa.columns = ['ecode', 'ename', 'eval']

In [62]:
df_fa['ename'] = df_fa['ecode'] + df_fa['ename']

In [63]:
df_fa['cr'] = df_fa['ecode'].str[-2]
df_fa['fa'] = df_fa['ecode'].str[-1]

In [64]:
df_fa['eval'] = df_fa['eval'].astype(int)

In [65]:
df_fa.head()

  ecode     ename  eval cr fa
0  CR21  CR2116GB    24  2  1
1  CR22  CR2232GB    76  2  2
2  CR21  CR2116GB    22  2  1
3  CR23  CR2364GB    78  2  3
4  CR21  CR2116GB    63  2  1

In [161]:
pdf_fa = pd.pivot_table(df_fa, index=['ename'], columns=['cr'], values='eval', aggfunc=np.sum).fillna(0)

In [162]:
pdf_fa

cr              1      2      3
ename
CR11Pink    144.0    0.0    0.0
CR12Blue     97.0    0.0    0.0
CR13Yellow   59.0    0.0    0.0
CR2116GB      0.0  109.0    0.0
CR2232GB      0.0  231.0    0.0
CR2364GB      0.0  175.0    0.0
CR24128GB     0.0   85.0    0.0
CR31USPS      0.0    0.0   87.0
CR32UPS       0.0    0.0  111.0
CR33FedEx     0.0    0.0  102.0

In [163]:
sum_fa = pdf_fa.sum()

In [164]:
sum_fa

cr
1    300.0
2    600.0
3    300.0
dtype: float64

In [165]:
for idx, col in pdf_fa.iteritems():
    pdf_fa[idx] = round(col/sum_fa[int(idx)-1], 3)

In [166]:
pdf_fa

cr              1      2     3
ename
CR11Pink    0.480  0.000  0.00
CR12Blue    0.323  0.000  0.00
CR13Yellow  0.197  0.000  0.00
CR2116GB    0.000  0.182  0.00
CR2232GB    0.000  0.385  0.00
CR2364GB    0.000  0.292  0.00
CR24128GB   0.000  0.142  0.00
CR31USPS    0.000  0.000  0.29
CR32UPS     0.000  0.000  0.37
CR33FedEx   0.000  0.000  0.34

In [170]:
pdf_fa= pdf_fa.set_index(pdf_fa.index.str[4:])

In [171]:
pdf_fa

cr          1      2     3
ename
Pink    0.480  0.000  0.00
Blue    0.323  0.000  0.00
Yellow  0.197  0.000  0.00
16GB    0.000  0.182  0.00
32GB    0.000  0.385  0.00
64GB    0.000  0.292  0.00
128GB   0.000  0.142  0.00
USPS    0.000  0.000  0.29
UPS     0.000  0.000  0.37
FedEx   0.000  0.000  0.34

In [182]:
jj = pdf_fa.to_html()

In [183]:
jj

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>cr</th>\n      <th>1</th>\n      <th>2</th>\n      <th>3</th>\n    </tr>\n    <tr>\n      <th>ename</th>\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Pink</th>\n      <td>0.480</td>\n      <td>0.000</td>\n      <td>0.00</td>\n    </tr>\n    <tr>\n      <th>Blue</th>\n      <td>0.323</td>\n      <td>0.000</td>\n      <td>0.00</td>\n    </tr>\n    <tr>\n      <th>Yellow</th>\n      <td>0.197</td>\n      <td>0.000</td>\n      <td>0.00</td>\n    </tr>\n    <tr>\n      <th>16GB</th>\n      <td>0.000</td>\n      <td>0.182</td>\n      <td>0.00</td>\n    </tr>\n    <tr>\n      <th>32GB</th>\n      <td>0.000</td>\n      <td>0.385</td>\n      <td>0.00</td>\n    </tr>\n    <tr>\n      <th>64GB</th>\n      <td>0.000</td>\n      <td>0.292</td>\n      <td>0.00</td>\n    </tr>\n    <tr>\n      <th>128GB</th>\n      <td>0.000</td>\n      <td>0.142</td>\n      <td>0.00</td>\n    </tr>\n    <tr>\n      <th>USPS</th>\n      <td>0.000</td>\n      <td>0.000</td>\n      <td>0.29</td>\n    </tr>\n    <tr>\n      <th>UPS</th>\n      <td>0.000</td>\n      <td>0.000</td>\n      <td>0.37</td>\n    </tr>\n    <tr>\n      <th>FedEx</th>\n      <td>0.000</td>\n      <td>0.000</td>\n      <td>0.34</td>\n    </tr>\n  </tbody>\n</table>'

In [177]:
import json
j_data = json.loads(jj)

In [181]:
j_data

{'1': {'128GB': 0.0,
  '16GB': 0.0,
  '32GB': 0.0,
  '64GB': 0.0,
  'Blue': 0.323,
  'FedEx': 0.0,
  'Pink': 0.48,
  'UPS': 0.0,
  'USPS': 0.0,
  'Yellow': 0.197},
 '2': {'128GB': 0.142,
  '16GB': 0.182,
  '32GB': 0.385,
  '64GB': 0.292,
  'Blue': 0.0,
  'FedEx': 0.0,
  'Pink': 0.0,
  'UPS': 0.0,
  'USPS': 0.0,
  'Yellow': 0.0},
 '3': {'128GB': 0.0,
  '16GB': 0.0,
  '32GB': 0.0,
  '64GB': 0.0,
  'Blue': 0.0,
  'FedEx': 0.34,
  'Pink': 0.0,
  'UPS': 0.37,
  'USPS': 0.29,
  'Yellow': 0.0}}

In [78]:
for index, col in pdf_fa.iteritems:
    pdf_fa[col] = round(pdf_fa[col]/sum_fa.iloc[index], 3)

TypeError: 'method' object is not iterable

In [74]:
pdf_fa

cr           1   2   3
ename
CR11Pink   NaN NaN NaN
CR12Blue   NaN NaN NaN
CR13Yellow NaN NaN NaN
CR2116GB   NaN NaN NaN
CR2232GB   NaN NaN NaN
CR2364GB   NaN NaN NaN
CR24128GB  NaN NaN NaN
CR31USPS   NaN NaN NaN
CR32UPS    NaN NaN NaN
CR33FedEx  NaN NaN NaN

In [84]:
fa = 'Pink,Blue,Yellow|16GB,32GB,64GB,128GB|USPS,UPS,FedEx'

In [85]:
fa_list = []
for i in fa.split('|'):
    for j in i.split(','):
        fa_list.append(j)
fa_list

['Pink',
 'Blue',
 'Yellow',
 '16GB',
 '32GB',
 '64GB',
 '128GB',
 'USPS',
 'UPS',
 'FedEx']

In [86]:
pdf_al.columns = fa_list

In [87]:
pdf_al

          Pink   Blue  Yellow   16GB   32GB   64GB  128GB   USPS    UPS  FedEx
ename
Apple    0.222  0.187   0.180  0.318  0.282  0.335  0.263  0.285  0.295  0.208
LG       0.275  0.368   0.333  0.250  0.278  0.268  0.267  0.270  0.248  0.370
Samsung  0.193  0.190   0.190  0.248  0.207  0.175  0.228  0.173  0.195  0.190
Sony     0.310  0.255   0.297  0.183  0.233  0.222  0.242  0.272  0.262  0.232

In [94]:
rs_json = pdf_al.to_json()
rs_json

'{"Pink":{"Apple":0.222,"LG":0.275,"Samsung":0.193,"Sony":0.31},"Blue":{"Apple":0.187,"LG":0.368,"Samsung":0.19,"Sony":0.255},"Yellow":{"Apple":0.18,"LG":0.333,"Samsung":0.19,"Sony":0.297},"16GB":{"Apple":0.318,"LG":0.25,"Samsung":0.248,"Sony":0.183},"32GB":{"Apple":0.282,"LG":0.278,"Samsung":0.207,"Sony":0.233},"64GB":{"Apple":0.335,"LG":0.268,"Samsung":0.175,"Sony":0.222},"128GB":{"Apple":0.263,"LG":0.267,"Samsung":0.228,"Sony":0.242},"USPS":{"Apple":0.285,"LG":0.27,"Samsung":0.173,"Sony":0.272},"UPS":{"Apple":0.295,"LG":0.248,"Samsung":0.195,"Sony":0.262},"FedEx":{"Apple":0.208,"LG":0.37,"Samsung":0.19,"Sony":0.232}}'

In [96]:
df2 = pd.read_json(rs_json)
df2

         128GB   16GB   32GB   64GB   Blue  FedEx   Pink    UPS   USPS  Yellow
Apple    0.263  0.318  0.282  0.335  0.187  0.208  0.222  0.295  0.285   0.180
LG       0.267  0.250  0.278  0.268  0.368  0.370  0.275  0.248  0.270   0.333
Samsung  0.228  0.248  0.207  0.175  0.190  0.190  0.193  0.195  0.173   0.190
Sony     0.242  0.183  0.233  0.222  0.255  0.232  0.310  0.262  0.272   0.297

In [97]:
df2.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>128GB</th>\n      <th>16GB</th>\n      <th>32GB</th>\n      <th>64GB</th>\n      <th>Blue</th>\n      <th>FedEx</th>\n      <th>Pink</th>\n      <th>UPS</th>\n      <th>USPS</th>\n      <th>Yellow</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Apple</th>\n      <td>0.263</td>\n      <td>0.318</td>\n      <td>0.282</td>\n      <td>0.335</td>\n      <td>0.187</td>\n      <td>0.208</td>\n      <td>0.222</td>\n      <td>0.295</td>\n      <td>0.285</td>\n      <td>0.180</td>\n    </tr>\n    <tr>\n      <th>LG</th>\n      <td>0.267</td>\n      <td>0.250</td>\n      <td>0.278</td>\n      <td>0.268</td>\n      <td>0.368</td>\n      <td>0.370</td>\n      <td>0.275</td>\n      <td>0.248</td>\n      <td>0.270</td>\n      <td>0.333</td>\n    </tr>\n    <tr>\n      <th>Samsung</th>\n      <td>0.228</td>\n      <td>0.248</td>\n      <td>0.207</td>\n      <td>0.175</td>\n      <td>0.190</td>\n      <td>0.190</td>\n      <td>0.193</td>\n      <td>0.195</td>\n      <td>0.173</td>\n      <td>0.190</td>\n    </tr>\n    <tr>\n      <th>Sony</th>\n      <td>0.242</td>\n      <td>0.183</td>\n      <td>0.233</td>\n      <td>0.222</td>\n      <td>0.255</td>\n      <td>0.232</td>\n      <td>0.310</td>\n      <td>0.262</td>\n      <td>0.272</td>\n      <td>0.297</td>\n    </tr>\n  </tbody>\n</table>'

In [43]:
pdf_al.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Pink</th>\n      <th>Blue</th>\n      <th>Yellow</th>\n      <th>16GB</th>\n      <th>32GB</th>\n      <th>64GB</th>\n      <th>128GB</th>\n      <th>USPS</th>\n      <th>UPS</th>\n      <th>FedEx</th>\n      <th>title</th>\n    </tr>\n    <tr>\n      <th>ename</th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Apple</th>\n      <td>0.222</td>\n      <td>0.187</td>\n      <td>0.180</td>\n      <td>0.318</td>\n      <td>0.282</td>\n      <td>0.335</td>\n      <td>0.263</td>\n      <td>0.285</td>\n      <td>0.295</td>\n      <td>0.208</td>\n      <td>Apple</td>\n    </tr>\n    <tr>\n      <th>LG</th>\n      <td>0.275</td>\n      <td>0.368</td>\n      <td>0.333</td>\n      <td>0.250</td>\n      <td>0.278</td>\n      <td>0.268</td>\n      <td>0.267</td>\n      <td>0.270</td>\n      <td>0.248</td>\n      <td>0.370</td>\n      <td>LG</td>\n    </tr>\n    <tr>\n      <th>Samsung</th>\n      <td>0.193</td>\n      <td>0.190</td>\n      <td>0.190</td>\n      <td>0.248</td>\n      <td>0.207</td>\n      <td>0.175</td>\n      <td>0.228</td>\n      <td>0.173</td>\n      <td>0.195</td>\n      <td>0.190</td>\n      <td>Samsung</td>\n    </tr>\n    <tr>\n      <th>Sony</th>\n      <td>0.310</td>\n      <td>0.255</td>\n      <td>0.297</td>\n      <td>0.183</td>\n      <td>0.233</td>\n      <td>0.222</td>\n      <td>0.242</td>\n      <td>0.272</td>\n      <td>0.262</td>\n      <td>0.232</td>\n      <td>Sony</td>\n    </tr>\n  </tbody>\n</table>'

In [44]:
pdf_al.index

Index(['Apple', 'LG', 'Samsung', 'Sony'], dtype='object', name='ename')

In [46]:
pdf_al.index

Index(['Apple', 'LG', 'Samsung', 'Sony'], dtype='object', name='ename')

In [47]:
pdf_al.set_index(['Title', 'Apple', 'LG', 'Samsung', 'Sony'])

KeyError: 'Title'

In [49]:
temp = ['abc', 'ccc', 'ddd']

In [53]:
str(temp)[1:-1]

"'abc', 'ccc', 'ddd'"

In [66]:
def model_str_clean(stype, mstr):
    result = ""
    if stype == "fa":
        # Pink, Blue, Yellow|16GB, 32GB, 64GB, 128GB|USPS, UPS, FedEx|
        for idx, grp in enumerate(mstr.split("|")):
            if len(grp) < 1:
                continue
            if idx > 0:
                result += "|"
            for idx2, item in enumerate(grp.split(",")):
                if idx2 > 0:
                    result += ","
                result += item.strip()
    else:
        #Color, Memory, Delivery
        for idx, item in enumerate(mstr.split(",")):
            if len(item) < 1:
                continue
            if idx > 0:
                result += ","
            result += item.strip()
    return result

In [67]:
model_str_clean("al", "Pink, Blue, Yellow")

'Pink,Blue,Yellow'